<nav class="navbar navbar-dark bg-primary">
    <h1 class="navbar-brand">Dotblog-xp</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% categories.forEach(categories =>{%>
            <li class="nav-item active">
                <a class="nav-link" href="/category/<%=categories.slug %>"><%= categories.title %><span class="sr-only">(current)</span></a>
              </li>
        <%})%>
       
        
      </ul>
    </div>
  </nav>



  
    
    
  </nav>