<nav class="navbar navbar-dark bg-primary">
  <h1 class="navbar-brand">Dotblog-xp</h1>
  
  <a href="/" class="navbar-brand">Home</a>
  <a href="/admin/categories" class="navbar-brand">Cartegorias</a>
  <a href="/" class="navbar-brand">Meu Perfil</a>
  <a href="/" class="navbar-brand">Sair</a>

</nav>